@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Baloo+2&family=PT+Serif&family=Praise&display=swap');
*{
    margin: 0;
}

.content{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content::before{
    content: "";
    background-image: url(../img/Tech4.jpg);
  opacity:0.5;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  z-index:-3;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.submiti{
    position: relative;
    width: 440px;
    font-size: 15px;
    font-family: 'PT Serif', serif;
    color: white;
    padding: 20px 30px 30px 30px;
    border: none;
}
.submiti::before{
    content: "";
    background-color: rgb(30, 66, 112);
    opacity: 0.8;
    position: absolute;
    z-index: -3;
    top:0;
  bottom:0;
  right:0;
  left:0;
}
.inputs input{
    width: 430px;
    height: 24px;
    border-radius: 4px;
    border: 1px solid;
    margin-top: 8px;
    margin-bottom: 12px;
}
select{
    width: 440px;
    height: 27px;
    border-radius: 5px;
    border: 1px solid;
    margin-top: 8px;
    margin-bottom: 12px;
}
textarea{
    width: 440px;
}
.submit{
    width: 450px;
    margin-top: 24px;
    height: 34px;
    color: white;
    background-color: rgb(47, 185, 100);
    font-weight: bold;
    border: none;
    border-radius: 2px;
}
.submit:hover{
    background-color: rgb(117, 212, 153);
}
span{
    font-size: 12px;
}
p{
    margin-bottom: 9px;
    margin-top: 5px;
}
